.buttons{
   padding-top: 20px;
    min-width: 700px;
    display: flex;
    justify-content: space-evenly;
   
    

             a {
                text-decoration: none;
                font-size: 20px;
                 width: 40px;
                height: 40px;
                line-height:40px;
                text-align: center;
                background: #753394;
                color: #f1f1f1;
                border-radius: 50%;
                box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
                transition: all .4s ease-in-out;

                &:hover {
                    transform: scale(1.2);
                    background-color: deeppink
                  }                    
                }
  
 }

 .botonIn{

    @extend .buttons;
        justify-content: end;
        padding-right: 40px;
        a{
         background: #be6fadd5;

         &:hover{
            background-color: rgb(31, 233, 189);
           }

        }

 }

 

     