@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Roboto:wght@500&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Beau+Rivage&family=Birthstone&family=Grape+Nuts&family=KoHo:wght@200&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Beau+Rivage&family=Birthstone&family=Grape+Nuts&family=KoHo:wght@200&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    text-decoration: none;
    box-sizing: border-box;

}

html {
    height: 100%;
}


h3 {
    color: rgb(3, 3, 3);
}

header {
    background-color: #faf4f4b4;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

}

header div h3 {
    color: rgb(0, 0, 0);
    font-family: 'Amatic SC', cursive;
}


.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 180px;
    margin-right: 15px;
    cursor: pointer;
}

a {
    color: rgb(5, 5, 5);
    font-family: 'Amatic SC', cursive;
    font-size: 20px;
    text-decoration: none;

}

nav a {
    font-weight: 600;
    padding-right: 50px;

}

nav a:hover {
    color: rgba(245, 151, 11, 0.897);
}


body {
    background-image: url(./../Img/index2.webp);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    height: 100vh;

}



.contenido {
    width: 85%;
    margin: 0 auto;
    margin-top: 15px;
}


@media (max-width:700px) {
    header {
        flex-direction: column;
    }


}

nav {
    padding: 10px 0px;

}

.gridContainer {
    display: grid;
    gap: 10px;
  
    grid-template:
        "header header"   100px 
        "section section" 150px 
        "main  article"    auto  
        "footer footer"   100px;
}

.gridHeader {
    grid-area: header;
}

.gridSection {
    grid-area: section;
    background-color: #faf4f4b4;
    text-align: center;
    color: black;

}

.tituloIndex {
    font-family: 'Birthstone', cursive;

}

.parrafoIndex {
    font-family: 'KoHo', sans-serif;
}


.gridMainIndex {
    grid-area: main;
}  
   
/*.gridMainIndex{
    width: 100%;
    max-width: 300px;
    margin: 100px auto;
    position: relative;
    display: flex;
    align-items: center;
     }

 .gridMainIndex:hover img{

    filter: blur(1.5px);
    transition: all .3s;
    transform: scale(1.5);
    transition: all .3s;
 }*/

 /*.gridMainIndex::before{

    content: "";
    position: absolute;
    width: 100%;
    height: 100px;
    transition: all .3s;
    top: 0;
    left: 0;
 }

 .gridMainIndex:hover::before{
    background:rgba(42, 25, 49, 0.301);
    z-index: 2;
    transition: all .3s;
 }*/

    /*img {
        width: 100%;
        height: 100%;
        transition: all .3s;

    }*/

    /*.textIndexMain {
        display: flex;
        justify-content: center;
        text-align: center;
        position: absolute;
        color: #fff;
        padding: 10px 20px;
        z-index: 3;
        flex-direction: column;
         }
     
    .tituloMainIndex, .parrafoMainIndex {
        margin: 10px;
        padding: 5px;

    }     

    .tituloMainIndex{
        position: absolute;
        right: 100%;
    }

    .gridMainIndex:hover .tituloMainIndex{
        left: 0%;
    }*/

    


.gridArticleDer {
    grid-area: article;

}

.gridFooter {
    grid-area: footer;
    background-color: #faf4f48f;
    text-align: center;
    color: black;


}


@media (max-width: 699px) {



    .gridContainer {
        display: grid;
        gap: 10px;
        
        grid-template:
            "header"  auto 
            "section" auto 
            "main"    auto 
            "article" auto 
            "footer"  auto;


    }

}

/*PICTURE GALERY*/

.gridItem {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(22, 87, 172, 0.144);
    border-radius: 4px;
    transition: 0.3s ease-in-out;
    border: solid 1px rgba(22, 22, 26, 0.945);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;



}

.gridItem:hover {
    filter: opacity(0.9);
    transform: scale(1.04);
}


.gridContainerGaleryCuadros {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    grid-auto-rows: minmax(200px, auto);
    gap: 20px;
    padding: 20px;
    grid-auto-flow: dense;
}

.wide {
    grid-column: span 2;
}

.tall {
    grid-row: span 2
}

.galeryImage {

    object-fit: cover;
}

.gridContainerGalery {
    display: grid;
    gap: 10px;
    
    grid-template:
        "header" 100px 
        "main"   auto 
        "footer" 100px;
}


.gridMainGalery {
    grid-area: main;
    background-color: rgba(240, 124, 57, 0.041);
}

@media (max-width: 699px) {
    .gridContainerGalery {
        display: grid;
        gap: 10px;

        grid-template:
            "header" auto 
            "main"   auto 
            "footer" auto;


    }
}

/*html PERSONALIZADOS*/

.gridMainPersonalizados {
    grid-area: main;
    background-color: rgba(22, 87, 172, 0.144);
}

.gridContainerPersonalizados {
    display: grid;
    gap: 10px;
    grid-template:
        "header" 100px 
        "main"   auto 
        "footer" 100px;
}


@media (max-width: 699px) {
    .gridContainerPersonalizados {
        display: grid;
        gap: 10px;
        
        grid-template:
            "header" auto 
            "main" auto 
            "footer" auto;

    }
}

/*html CONTACTO*/

.gridMainContacto {
    grid-area: main;
    background-color: rgba(235, 38, 130, 0.144);
}

.gridContainerContacto {
    display: grid;
    gap: 10px;
    grid-template:

        "header" 100px 
        "main"   auto 
        "footer" 100px;
}



@media (max-width: 699px) {
    .gridContainerContacto {
        display: grid;
        gap: 10px;
       
        grid-template:
            "header" auto 
            "main"   auto 
            "footer" auto;

    }
}

/*html POST*/

.gridMainPost {
    grid-area: main;
    background-color: rgba(22, 87, 172, 0.144);
}

.gridContainerPost {
    display: grid;
    gap: 10px;
    grid-template:

        "header" 100px 
        "main"    auto 
        "footer" 100px;
}


@media (max-width: 699px) {
    .gridContainerPost {
        display: grid;
        gap: 10px;
        /* grid-template-areas: 
    "header"
    "section"
    "main"
    "article"
     "footer"; */
        grid-template:
            "header" auto 
            "main" auto 
            "footer" auto;

    }
}

/*tarjetas viejas*/
/* .cardProduct{ 
        width: 250px;

        
    }
      
    .cardProduct__img{
        width: 100%;
    
    }
    
    .cardProduct__description__price{
        margin-top: 10px;
    }
    
    .cardProduct__description__text{
 
    text-align: justify;
    line-height: 20px;
    } */